#root {
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 20px;
}

.input-hide {
  display: none;
}

.input-show {
  display: block;
}

button, input, img   {
	display: block;
	margin-bottom: 10px;
}

table {
	border: solid black 1px;
	counter-reset: rowNumber;
}

th, td {
	padding: 5px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

table tr:not(:first-child) {
  counter-increment: rowNumber;
}

table tr td:first-child::before {
  content: counter(rowNumber);
  margin-right: 0.5em;
}