#root {
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 20px;
}

button, input, img   {
	display: block;
}

th {
	background-color: #ffffff;
}

table {
	border: solid black 1px;
	counter-reset: rowNumber;
}

tr:nth-child(odd) {
	background-color: #dddddd;
}

tr:not(#beer-table-head-row):hover {
	background: lightBlue;
	cursor: pointer;
}

th, td {
	padding: 7px;
}


table tr > td:first-child {
	counter-increment: rowNumber;
}


tbody tr td:first-child::before {
	content: counter(rowNumber);
}

#new-beer > td:first-child::before {
	content: none;
}

#input-look {
	display: inline;
}

#input-send {
	background: lightgreen;
	display: inline;
}

#cancel-beer {
	background: #F08080;
}